.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-editor {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
}

.toolbar button {
  margin-right: 5px;
}

.editor-content {
  border: 1px solid #ccc;
  min-height: 150px;
  padding: 5px;
}

.color-picker-label {
  position: relative;
}

.color-picker-text {
  font-size: 18px;
}

.color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -18px;
  border: 1px solid #ccc;
}

.toolbar button {
  margin-right: 5px;
}
/* 
.color-button {
  position: relative;
  font-size: 16px;
}

.color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -18px;
  border: 1px solid #ccc;
}

.toolbar button {
  margin-right: 5px;
} */



